# check if python version is set in current dir
VIRTUAL_ENV=venv
if [ ! -d "$VIRTUAL_ENV" ] ; then
    echo "Installing virtualenv for $(python -V)"
    # if we didn't install `py2venv` for python 2.x, we would need to use
    # `virtualenv`, which you would have to install separately.
    PYTHON=python3
    $PYTHON -m venv $VIRTUAL_ENV
    PYTHON=$VIRTUAL_ENV/bin/python
    PIP=$VIRTUAL_ENV/bin/pip
    REQUIREMENTS_DEV=dependencies-dev.txt
    if [ -f "$REQUIREMENTS_DEV" ] ; then
        $PIP install -r "$REQUIREMENTS"
    fi

    $PIP install pip wheel -U
    $PIP install pylint isort mypy black pre-commit
    # install requirements.txt if exists
    REQUIREMENTS=requirements.txt
    if [ -f "$REQUIREMENTS" ] ; then
        $PIP install -r "$REQUIREMENTS"
    fi
    echo "Virtualenv has been activated for $($PYTHON -V)"
fi

export VIRTUAL_ENV
PATH="${VIRTUAL_ENV}/bin:${PATH}"
export PATH
