# check if python version is set in current dir
VIRTUAL_ENV=venv
if [ ! -d "$VIRTUAL_ENV" ] ; then
    echo "Installing virtualenv for $(python -V)"
    # if we didn't install `py2venv` for python 2.x, we would need to use
    # `virtualenv`, which you would have to install separately.
    python3 -m venv $VIRTUAL_ENV
    $VIRTUAL_ENV/bin/pip install pip wheel -U
    $VIRTUAL_ENV/bin/pip install pylint isort mypy black pre-commit
    echo "Virtualenv has been activated for $($VIRTUAL_ENV/bin/python -V)"
fi

export VIRTUAL_ENV
PATH="${VIRTUAL_ENV}/bin:${PATH}"
export PATH
