# Byte-compiled
__pycache__/
*.py[c]

# log
*.log

# sqlite
*.db

# Jupyter Notebook
.ipynb_checkpoints

# Environments
venv/
.venv/

# mypy
.mypy_cache/

# vscode remote
# .devcontainer

# Coverage
.coverage

# pytest
.pytest_cache
